@model List<Hotel>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<partial name="_NavaddprocesshotelPartial"></partial>

<hr />
<div id="parthotel">
<div class="row m-2 justify-content-center" >
    @foreach (Hotel hotel in Model)
    {
        <div class="card col-lg-5 col-md-5 col-sm-11 m-2 d-flex align-items-center" style="padding:0 !important">
            <!-- Card Header -->
            <div class="card-header w-100 d-flex justify-content-between">
                <div>
                    <h3 style="color:#1a75ff; font-weight:bolder !important">@hotel.Name</h3>
                </div>

                <div class="rating">
                    @{
                        int wholeStars = (int)Math.Floor(hotel.StarRateing);
                        int remainingStars = 5 - wholeStars;
                        double fractionalPart = (double)hotel.StarRateing - wholeStars;

                        for (int i = 1; i <= wholeStars; i++)
                        {
                            <span class="fa fa-star" style="color:rgb(246, 182, 7)"></span>
                        }

                        if (fractionalPart >= 0.5)
                        {
                            <span class="fa fa-star" style="color:rgb(246, 182, 7)"></span>
                            remainingStars--;
                        }

                        for (int i = 0; i < remainingStars; i++)
                        {
                            <span class="fa fa-star star-gray"></span>
                        }
                    }
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <!-- Slider -->
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        @for (int i = 0; i < hotel.image_Hotels.Count; i++)
                        {
                            <div class="carousel-item @(i == 0 ? "active" : "")">
                                <img src="@hotel.image_Hotels[i].ImageURL" width="300px" height="300px" class="d-block w-100 rounded-top">
                            </div>
                        }
                    </div>
                    
                </div>

                <!-- Address -->
                <p class="card-text">Address: @hotel.Address</p>
                <!-- Contact Phone -->
                <p class="card-text">Phone: @hotel.ContactPhone</p>
                <!-- Contact Email -->
                <p class="card-text">Email: @hotel.ContactEmail</p>
                <hr>
                <!-- Description -->
                <p class="card-text">Description: @hotel.Description</p>
                <div class="my-2">
                    <div class="d-flex flex-wrap border-1">
                        @for (int i = 0; i < hotel.amenities_Hotels.Count; i++)
                        {

                            <a class="px-2 m-1" style="border:2px solid rgb(246, 182, 7);color:darkolivegreen;  border-radius:7px 7px !important">@hotel.amenities_Hotels[i].amenities.Name</a>
                        }


                    </div>
                </div>



                <a asp-action="getHotel" asp-route-id="@hotel.Id" class="btn" style="background-color: #003b95;color:white !important; border-radius:7px 7px !important">Edit</a>
                <a asp-action="delete" asp-route-id="@hotel.Id" class="btn" style="background-color: #003b95; color: white !important;border-radius:7px 7px !important">Delete</a>
            </div>



        </div>

    }

</div>
</div>
<div id="insert_s"></div>
<div id="add_hotel_image"></div>
<div id="add_hotel_amenties"></div>


<script>
    function addnewhotel() {
        parthotel.classList.add("display_visable");
        insert_s.classList.remove("display_visable");
        add_hotel_image.classList.add("display_visable");
        add_hotel_amenties.classList.add("display_visable");

        $.ajax(
            {
                url: "/hotel/insert/",
                success: function (result) {
                    //console.log(result);
                    $("#insert_s").html(result);
                }
            }

        );
    }

    function addimagehotel() {
        parthotel.classList.add("display_visable");
        insert_s.classList.add("display_visable");
        add_hotel_amenties.classList.add("display_visable");
        add_hotel_image.classList.remove("display_visable");
        console.log();
        $.ajax(
            {
                url: "/ImgHotel/insert/",
                success: function (result) {
                    console.log(result);
                    $("#add_hotel_image").html(result);
                }
            }

        );
    }
    function addnewamentieshotel() {
        parthotel.classList.add("display_visable");
        insert_s.classList.add("display_visable");
        add_hotel_image.classList.add("display_visable");
        add_hotel_amenties.classList.remove("display_visable");

        $.ajax(
            {
                url: "/AmenitiesHotel/insert/",
                success: function (result) {
                    //console.log(result);
                    $("#add_hotel_amenties").html(result);
                }
            }

        );
    }
</script>