@model Hotel
@{
    ViewData["Title"] = "Update Hotel";
}
@section Styles{
    <link rel="stylesheet" href="~/css/AddNew.css" asp-append-version="true" />
}

<div class="container_reg col-7 mt-4 mb-4">
    <div class="title">Edite Hotel</div>
    <div class="content">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" name="ReturnUrl" value="@ViewBag.page" />
            <input type="hidden" asp-for="@Model.Id" />
            <div class="user-details">
                <div class="input-box">
                    <label class="details" asp-for="Name"></label>
                    <input asp-for="Name" value="@Model.Name" required>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <label class="details" asp-for="Address"></label>
                    <input asp-for="Address" value="@Model.Address" required>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <label class="details" asp-for="Description"></label>
                    <input asp-for="Description" value="@Model.Description" required>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <label class="details" asp-for="StarRateing"></label>
                    <input asp-for="StarRateing" value="@Model.StarRateing" required>
                    <span asp-validation-for="StarRateing" class="text-danger"></span>
                </div>

                <div class="input-box">
                    <label class="details" asp-for="ContactEmail"></label>
                    <input asp-for="ContactEmail" value="@Model.ContactEmail" required>
                    <span asp-validation-for="ContactEmail" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <label class="details" asp-for="ContactPhone"></label>
                    <input asp-for="ContactPhone" value="@Model.ContactPhone" required>
                    <span asp-validation-for="ContactPhone" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <label class="details" asp-for="Latitude"></label>
                    <input asp-for="Latitude" value="@Model.Latitude" required>
                    <span asp-validation-for="Latitude" class="text-danger"></span>
                </div>
                
                <div class="input-box">
                    <label class="details" asp-for="Longitude"></label>
                    <input asp-for="Longitude" value="@Model.Longitude" required>
                    <span asp-validation-for="Longitude" class="text-danger"></span>
                </div>

                <div class="input-box">
                    <label for="image_Hotels" class="details">Images:</label>
                    <input id="image_Hotels" type="file" name="image_Hotels" multiple class="form-control" />
                </div>
                <div class="button">
                    <input type="submit" value="Update"  />
                </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="index" asp-controller="admin">Back to Hotels</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

