<!-- Customized Bootstrap Stylesheet -->

<!-- Template Stylesheet -->
@model List<ApplicationIdentityUser>
    @{
    ViewData["Title"] = "Show";
    }


    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- Table Start-->

    <div class="col-12">
        <div class="bg-light rounded h-100 p-4">
            <h6 class="mb-4">Responsive Table</h6>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Address</th>
                            <th scope="col">City</th>

                            <th scope="col">Reservetion</th>


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                    {
                        <tr>
                            
                            <td>@user.Fname @user.Lname</td>
                            <td>@user.Address</td>
                            <td>@user.City</td>
                            
                            <td>
                              @*<ul>tttttt</ul>  
                                                            <ul>tttttt</ul>
                                <ul>tttttt</ul>
                              <ul>tttttt</ul>  *@

                            @foreach (var use in user.reservations)
                            {
                                <ul>
                                    <li>@use.CheckInDate</li>
                                   

                                    <li>@use.CheckOutDate</li>
                                    <li>@use.TotalPrice</li>
                                    <ul>
                                        @foreach (var us in use.reservationRooms)
                                        {

                                            <li>@us.room.RoomType</li>
                                    
                                        }
                                    </ul>
                                </ul>
                            }
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Table End -->
    <!-- JavaScript Libraries -->
    <script src="~/js/Ne.js"></script>



