@model List<Room>
<partial name="_NavProcessRoom"></partial>
<hr />
<div id="partroom">
<div class="row m-2 justify-content-center">
 
    @foreach (Room Room in Model)
    {
        <div class="card col-lg-5 col-md-5 col-sm-11 m-2 d-flex align-items-center" style="padding:0 !important">
            <!-- Card Header -->
            <div class="card-header w-100 d-flex justify-content-between">
                <div>
                    <h3 style="color:#1a75ff; font-weight:bolder !important">@Room.hotel.Name</h3>
                </div>

                <div class="rating">
                    @{
                        int wholeStars = (int)Math.Floor(Room.hotel.StarRateing);
                        int remainingStars = 5 - wholeStars;
                        double fractionalPart = (double)Room.hotel.StarRateing - wholeStars;

                        for (int i = 1; i <= wholeStars; i++)
                        {
                            <span class="fa fa-star" style="color:rgb(246, 182, 7)"></span>
                        }

                        if (fractionalPart >= 0.5)
                        {
                            <span class="fa fa-star" style="color:rgb(246, 182, 7)"></span>
                            remainingStars--;
                        }

                        for (int i = 0; i < remainingStars; i++)
                        {
                            <span class="fa fa-star star-gray"></span>
                        }
                    }
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <!-- Slider -->
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    </ol>
                        <div class="carousel-inner">
                            <div class="carousel-inner">
                                @for (int i = 0; i < Room.image_Rooms.Count; i++)
                                {
                                    <div class="carousel-item @(i == 0 ? "active" : "")">

                                        <img src="@Room.image_Rooms[i].ImageURL" width="400px" height="200px">
                                    </div>
                                }


                            </div>
                        @*  @for (int i = 0; i < hotel.image_Hotels.Count; i++)
                    {
                    <div class="carousel-item @(i == 0 ? "active" : "")">
                    <img src="data:image/jpg;base64,@Convert.ToBase64String(hotel.image_Hotels[i].ImageURL)" width="100%">
                    </div>
                    } *@
                    </div>
                    @*<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>*@
                </div>

                <!-- Address -->
                <p class="card-text">Type: @Room.RoomType</p>
                <p class="card-text">Available Status: @Room.AvailableStatus</p>
                <p class="card-text">Size: @Room.RoomSize</p>
                <!-- Contact Phone -->
                <p class="card-text">Price: @Room.Price</p>
                <!-- Contact Email -->
                <p class="card-text">Num Of Beds: @Room.NumOfBed</p>
                <hr>
                <!-- Description -->
                <p class="card-text">Max Occupancy: @Room.MaxOccupancy</p>
                    <div class="my-2">
                        <div class="d-flex flex-wrap border-1">
                            @for (int i = 0; i < Room.aminitesRooms.Count; i++)
                            {

                                <a class="px-2 m-1" style="border:2px solid rgb(246, 182, 7);color:darkolivegreen;  border-radius:7px 7px !important">@Room.aminitesRooms[i].amenities.Name</a>
                            }
                        </div>
                    </div>

                <a asp-action="EditRoom" asp-route-id="@Room.Id" class="btn" style="background-color: #003b95;color:white !important; border-radius:7px 7px !important">Edit</a>
                <a asp-action="DeleteRoom" asp-route-id="@Room.Id" class="btn" style="background-color: #003b95; color: white !important;border-radius:7px 7px !important">Delete</a>
            </div>



        </div>

    }

</div>
</div>
<div id="_AddRoom"></div>
<div id="_add_room_image"></div>
<div id="_AddAmenitiesRoom"></div>
<script>
    function AddRoom() {
            partroom.classList.add("display_visable");
        _AddAmenitiesRoom.classList.add("display_visable");
            _AddRoom.classList.remove("display_visable");
            _add_room_image.classList.add("display_visable");
        $.ajax(
            {
                url: "/Room/NewRoom/",
                success: function (result) {
                    console.log(result);
                    $("#_AddRoom").html(result);
                }
            }

        );
    }

        function AddRoomImages() {
        partroom.classList.add("display_visable");
        _AddRoom.classList.add("display_visable");
        _AddAmenitiesRoom.classList.add("display_visable");
        _add_room_image.classList.remove("display_visable");
        console.log();
        $.ajax(
            {
                url: "/ImgRoom/Insert",
                success: function (result) {
                    console.log(result);
                    $("#_add_room_image").html(result);
                }
            }

        );
    }
    function AddAmenitiesRoom() {
        partroom.classList.add("display_visable");
        _AddRoom.classList.add("display_visable");
        _add_room_image.classList.add("display_visable");
        _AddAmenitiesRoom.classList.remove("display_visable");
        console.log();
        $.ajax(
            {
                url: "/AmentiesRooms/insert",
                success: function (result) {
                    console.log(result);
                    $("#_AddAmenitiesRoom").html(result);
                }
            }
        );
    }

</script>