@model List<AmenitiesRoom>;

@{
    ViewData["Title"] = "getAll";
}


<div class="container-fluid">
    <h4>Amenities Room</h4>
    <hr />
    <table class="table table-bordered table-hover">
        <tr>
            <th>Id</th>
            <th>Price</th>
            <th>Amenity Name</th>
            <th>Room Name</th>
            <th>Edit</th>
            <th>Delete</th>

        </tr>
        @foreach (AmenitiesRoom amenity in Model)
        {
            <tr>
                <td>@amenity.Id</td>
                <td>@amenity.Price</td>
                <td>@amenity.amenities.Name</td>
                <td>@amenity.room.room_number</td>
                <td><a href="#" onclick="editeamentiesroom(@amenity.Id)">Edit</a></td>
                <td><a asp-action="delete" asp-route-id="@amenity.Id">Delete</a></td>
            </tr>

        }

    </table>
</div>
